<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
		
		body {
		    font-family: Arial, sans-serif;
		    margin: 0;
		    padding: 0;
		}
		
		header {
		    background-color: #333;
		    color: #fff;
		    padding: 10px;
		    text-align: center;
		}
		
		footer {
		    background-color: #333;
		    color: #fff;
		    padding: 10px;
		    text-align: center;
		    position: fixed;
		    bottom: 0;
		    width: 100%;
		}
	</style>
</head>
<body>
    <header>
        <!-- Header content -->
        <h1>Welcome to My Website</h1>
		<button><a href="login.html">Home</a></button>
    </header>
    
    <main>
        <!-- Main content -->
        <h2>Homepage Content Goes Here</h2>
    </main>
    
    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
